{% load static %}
<div class="section footer-section">
    <!-- Footer Top Start -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-md-4">
                    <!-- Footer Logo Start -->
                    <div class="footer-logo">
                        <a href="{% url 'index' %}"><img src="{{ setting.logo.url }}" width="154" height="46" alt="Logo" /></a>
                    </div>
                    <!-- Footer Logo End -->
                </div>
                <div class="col-xl-5 col-md-8">
                    <!-- Footer Contact & Payment End -->
                    <div class="footer-contact-payment">
                        <div class="footer-contact">
                            <div class="contact-icon">
                                <img src="{% static 'assets/images/icon/icon-4.png' %}" width="39" height="46" alt="Icon" />
                            </div>

                            <div class="contact-content">
                                <h6 class="title">Связаться с нами:</h6>
                                <p>{{ setting.phone }}</p>
                            </div>
                        </div>
                        <div class="footer-payment">
                            <img src="{% static 'assets/images/payment.png' %}" width="192" height="21" alt="Payment" />
                        </div>
                    </div>
                    <!-- Footer Contact & Payment End -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer Top End -->

    <!-- Footer Widget Section Start -->
    <div class="footer-widget-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Обслуживание клиентов</h4>

                        <ul class="footer-link">
                            <li><a href="#">Способы оплаты</a></li>
                            <li><a href="#">Гарантия возврата денег!</a></li>
                            <li><a href="#">Возврат-Доставка</a></li>
                            <li><a href="#">Условия и положения</a></li>
                            <li><a href="#">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Информация</h4>

                        <ul class="footer-link">
                            <li><a href="about.html">О {{ setting.title }}</a></li>
                            <li>
                                <a href="shop-grid-4-column.html">Как делать покупки</a>
                            </li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Связаться с нами</a></li>
                            <li><a href="login.html">Авторизоваться</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Мой счет</h4>

                        <ul class="footer-link">
                            <li><a href="register.html">Войти</a></li>
                            <li><a href="cart.html">Посмотреть корзину</a></li>
                            <li><a href="wishlist.html">Мой список пожеланий</a></li>
                            <li><a href="#">Отслеживать свой заказ</a></li>
                            <li><a href="#">Помощь</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-2 col-md-5 col-sm-6">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Наши магазины</h4>

                        <ul class="footer-link">
                            <li><a href="#">Нью-Йорк</a></li>
                            <li><a href="#">Лондон Сан-Франциско</a></li>
                            <li><a href="#">Кокфостерс БП</a></li>
                            <li><a href="#">Лос-Анджелес</a></li>
                            <li><a href="#">Чикаго</a></li>
                        </ul>
                    </div>
                    <!-- Footer Widget End -->
                </div>
                <div class="col-lg-3 col-md-7">
                    <!-- Footer Widget Start -->
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">О нас</h4>

                        <div class="widget-about">
                            <p>
                                {{ setting.description }}
                            </p>
                        </div>
                        <div class="widget-social">
                            <ul>
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-tumblr"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Footer Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widget End -->

    <!-- Footer CopyrigCall Us:ht End -->
    <div class="copyright">
        <div class="container">
            <div class="copyright-text">
                <p>
                    &copy; 2023 <span> {{ setting.title }} </span> Сделали
                    
                    <a href="https://www.instagram.com/codexx_studio/">Codex Studio</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</div>