{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

    <!-- Header Start  -->
    {% include 'include/header.html' %}
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                                <ul class="dropdown-menu dropdown-profile">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                </ul>
                            </div>
                            <a class="action" href="cart.html">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header">
            <!-- Canvas Action Start -->
            <div class="canvas-action">
                <a class="action" href="compare.html"><i class="icon-sliders"></i> Compare
                    <span class="action-num">(3)</span></a>
                <a class="action" href="wishlist.html"><i class="icon-heart"></i> Wishlist
                    <span class="action-num">(3)</span></a>
            </div>
            <!-- Canvas Action end -->

            <!-- Canvas Close bar Start -->
            <div class="canvas-close-bar">
                <span>Menu</span>
                <button class="menu-close" data-bs-dismiss="offcanvas">
                    <i class="pe-7s-angle-left"></i>
                </button>
            </div>
            <!-- Canvas Close bar End -->
        </div>

        <div class="offcanvas-body">
            <!-- Canvas Menu Start -->
            <div class="canvas-menu">
                <nav>
                    <ul class="nav-menu">
                        <li>
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 01</a></li>
                                <li><a href="index-2.html">Home 02</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a href="#">Shop</a>
                            <ul class="mega-sub-menu">
                                <li>
                                    <a href="#" class="menu-title">Shop Grid</a>

                                    <ul class="menu-item">
                                        <li>
                                            <a href="shop-grid-3-column.html">Shop Grid 3 Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right-sidebar.html">Shop Grid Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="menu-title">Shop List</a>

                                    <ul class="menu-item">
                                        <li><a href="shop-list.html">Shop List</a></li>
                                        <li>
                                            <a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="menu-title">Shop Single</a>

                                    <ul class="menu-item">
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li>
                                            <a href="product-details-affiliate.html">Product Details Affiliate</a>
                                        </li>
                                        <li>
                                            <a href="product-details-gallery.html">Product Details Gallery</a>
                                        </li>
                                        <li>
                                            <a href="product-details-group.html">Product Details Group</a>
                                        </li>
                                        <li>
                                            <a href="product-details-sticky.html">Product Details Sticky</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="menu-title">Page</a>

                                    <ul class="menu-item">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </li>

                                <li class="manu-banner">
                                    <a href="#"><img src="assets/images/banner-menu-01.jpg" width="465" height="170" alt="Banner" /></a>
                                </li>
                                <li class="manu-banner">
                                    <a href="#"><img src="assets/images/banner-menu-02.jpg" width="465" height="170" alt="Banner" /></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages </a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="compare.html">Compare</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="empty-cart.html">Empty Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Blog Grid</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li>
                                            <a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog List</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog Details</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-details-left-sidebar.html">Blog details Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-details-right-sidebar.html">Blog details Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Canvas Menu End -->
        </div>
    </div>
    <!-- off Canvas End -->


    <!-- Page Banner Section Start -->
    {% if shop.banner %}
    <div class="section page-banner-section" style="background-image: url({{ shop.banner.url }})">
    {% else %}
    <div class="section page-banner-section" style="background-image: url(https://marketplace.canva.com/EAFMRBF5jro/1/0/1600w/canva-blue-purple-gradient-grand-opening-medium-banner-4_zROjHxn0c.jpg)">
    {% endif %}
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">{{ shop.name }}</h2>
        
                <ul class="breadcrumb">
                    <li><a href="{% url 'index' %}">Домой</a></li>
                    <li class="active">Магазин {{ shop.name }}</li>
                </ul>
                <p style="color: white;">{{ shop.description }}</p>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- Shop Section Start -->
    <div class="section section-padding">
        <div class="container">
            <!-- Product Section Wrapper Start -->
            <div class="product-section-wrapper">
                <!-- Shop top Bar Start -->
                <div class="shop-top-bar">
                    <div class="shop-text">
                        <p>
                            <span>{{ products.all.count }}</span> Товаров из <span>{{ shop.name }}</span>
                        </p>
                    </div>
                    <div class="shop-tabs">
                        <ul class="nav">
                            <li>
                                <button class="active" data-bs-toggle="tab" data-bs-target="#grid">
                                    <i class="fa fa-th"></i>
                                </button>
                            </li>
                            <li>
                                <button data-bs-toggle="tab" data-bs-target="#list">
                                    <i class="fa fa-list"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="shop-sort">
                        <span class="title">Сортировка</span>
                        <select class="select2-2">
                            <option value="featured">Лучшие</option>
                            <option value="rating">Рейтинг</option>
                            <option value="price">Цена</option>
                        </select>
                    </div>
                </div>
                <!-- Shop top Bar End -->

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="grid">
                        <!-- Shop Product Wrapper Start -->
                        <div class="shop-product-wrapper">
                            <div class="row">
                                {% for product in products %}
                                <div class="col-lg-4 col-sm-6">
                                    <!-- Single Product Start -->
                                    <div class="single-product">
                                        {% if product.image %}
                                        <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" width="270" height="303" alt="product" /></a>
                                        {% else %}
                                        <a href="{% url 'product_detail' product.id %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" width="270" height="303" alt="product" /></a>
                                        {% endif %}
                                        <div class="product-content">
                                            <h4 class="title">
                                                <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
                                            </h4>
                                            <div class="price">
                                                {% if product.price %}
                                                <span class="sale-price">{{ product.price }} СОМ/ШТ</span>
                                                {% else %}
                                                <span class="sale-price">Цена по запросу</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <ul class="product-meta">
                                            <li>
                                                <a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="{% url 'product_detail' product.id %}"><i class="pe-7s-search"></i></a>
                                            </li>
                                            <li>
                                                <a class="action" href="{% url 'product_detail' product.id %}"><i class="pe-7s-shopbag"></i></a>
                                            </li>
                                            <li>
                                                <a class="action" href="{% url 'product_detail' product.id %}"><i class="pe-7s-like"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Shop Product Wrapper End -->

                    </div>
                    <div class="tab-pane fade" id="list">
                        <!-- Shop Product Wrapper Start -->
                        <div class="shop-product-wrapper">
                            <!-- Single Product Start -->
                            {% for product in products %}
                            <div class="single-product-02 product-list">
                                <div class="product-images">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" width="270" height="303" alt="product" /></a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" width="270" height="303" alt="product" /></a>
                                    {% endif %}
                                    <ul class="product-meta">
                                        <li>
                                            <a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i class="pe-7s-search"></i></a>
                                        </li>
                                        <li>
                                            <a class="action" href="#"><i class="pe-7s-shopbag"></i></a>
                                        </li>
                                        <li>
                                            <a class="action" href="#"><i class="pe-7s-like"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-content">
                                    <h4 class="title">
                                        <a href="{% url 'product_detail' product.id %}"> {{product.title }} </a>
                                    </h4>
                                    <div class="price">
                                        {% if product.price %}
                                        <span class="sale-price">{{ product.price }} СОМ/ШТ</span>
                                        {% else %}
                                        <span class="sale-price">Цена по запросу</span>
                                        {% endif %}
                                    </div>
                                    <p>
                                        {{product.description }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- Single Product End -->

                            <!-- Single Product End -->
                        </div>
                        <!-- Shop Product Wrapper End -->

                    </div>
                </div>

                <!-- Page pagination Start -->
                <div class="page-pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- Page pagination End -->
            </div>
            <!-- Product Section Wrapper End -->
        </div>
    </div>
    <!-- Shop Section End -->

    <!-- Footer Section Start -->
        {% include 'include/footer.html' %}
    <!-- Footer Section End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- Quick View Start -->
    <div class="modal fade" id="quickView">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Quick View Images Start -->
                            <div class="quick-view-images">
                                <!-- Quick Gallery Images Start -->
                                <div class="quick-gallery-images">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="assets/images/product-details/product-details-1.jpg" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="assets/images/product-details/product-details-2.jpg" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="assets/images/product-details/product-details-3.jpg" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="assets/images/product-details/product-details-4.jpg" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="assets/images/product-details/product-details-5.jpg" alt="Product Image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Quick Gallery Images End -->

                                <!-- Quick Gallery Thumbs Start -->
                                <div class="quick-gallery-thumbs">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="assets/images/product-details/product-details-1.jpg" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/images/product-details/product-details-2.jpg" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/images/product-details/product-details-3.jpg" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/images/product-details/product-details-4.jpg" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="assets/images/product-details/product-details-5.jpg" alt="Product Thumbnail" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-prev">
                                        <i class="pe-7s-angle-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="pe-7s-angle-right"></i>
                                    </div>
                                </div>
                                <!-- Quick Gallery Thumbs End -->
                            </div>
                            <!-- Quick View Images End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Quick View Description Start -->
                            <div class="quick-view-description">
                                <h4 class="product-name">
                                    Your Products Name Here.
                                </h4>
                                <div class="price">
                                    <span class="sale-price">$240.00</span>
                                    <span class="old-price">$290.00</span>
                                </div>
                                <div class="review-wrapper">
                                    <div class="review-star">
                                        <div class="star" style="width: 80%"></div>
                                    </div>
                                    <p>( 1 Customer Review )</p>
                                </div>
                                <div class="product-color">
                                    <span class="lable">Color:</span>
                                    <ul>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color1" />
                                            <label for="quick-color1"><span class="color-blue"></span></label>
                                        </li>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color2" />
                                            <label for="quick-color2"><span class="color-gray"></span></label>
                                        </li>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color3" />
                                            <label for="quick-color3"><span
                                                class="color-dark-blue"
                                            ></span></label>
                                        </li>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color4" />
                                            <label for="quick-color4"><span
                                                class="color-gray-dark"
                                            ></span></label>
                                        </li>
                                    </ul>
                                </div>

                                <p>
                                    Lorem ipsum dolor sit amet, consectet
                                    adipisicing elit, sed do eiusmod temporf
                                    incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis tyu nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate.
                                </p>

                                <div class="product-meta">
                                    <div class="product-quantity d-inline-flex">
                                        <button type="button" class="sub">-</button>
                                        <input type="text" value="1" />
                                        <button type="button" class="add">+</button>
                                    </div>
                                    <div class="meta-action">
                                        <button class="btn btn-dark btn-hover-primary">
                                            Add To Cart
                                        </button>
                                    </div>
                                    <div class="meta-action">
                                        <a class="action" href="#"><i class="pe-7s-like"></i></a>
                                    </div>
                                    <div class="meta-action">
                                        <a class="action" href="#"><i class="pe-7s-shuffle"></i></a>
                                    </div>
                                </div>

                                <div class="product-info">
                                    <div class="single-info">
                                        <span class="lable">SKU:</span>
                                        <span class="value">Ch-256xl</span>
                                    </div>
                                    <div class="single-info">
                                        <span class="lable">Categories:</span>
                                        <span class="value"
                                        ><a href="#">Office,</a>
                                        <a href="#">Home</a></span>
                                    </div>
                                    <div class="single-info">
                                        <span class="lable">tag:</span>
                                        <span class="value"
                                        ><a href="#">Furniture</a></span>
                                    </div>
                                    <div class="single-info">
                                        <span class="lable">Share:</span>
                                        <ul class="social">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i
                                                    class="fa fa-pinterest-p"
                                                ></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Quick View Description End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick View End -->

    <!-- JS
    ============================================ -->
{% endblock %}