{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Header Start  -->
    {% include 'include/header.html' %}
    <!-- Header End -->

    <!-- Header Mobile Start -->
    <div class="header-mobile section d-lg-none">
        <!-- Header Mobile top Start -->
        <div class="header-mobile-top header-sticky">
            <div class="container">
                <div class="row row-cols-3 gx-2 align-items-center">
                    <div class="col">
                        <!-- Header Toggle Start -->
                        <div class="header-toggle">
                            <button class="mobile-menu-open" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <div class="col">
                        <!-- Header Logo Start -->
                        <div class="header-logo text-center">
                            <a href="index.html"><img src="assets/images/logo.png" width="154" height="46" alt="Logo" /></a>
                        </div>
                        <!-- Header Logo End -->
                    </div>
                    <div class="col">
                        <!-- Header Action Start -->
                        <div class="header-meta">
                            <div class="dropdown">
                                <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i class="pe-7s-user"></i></a>

                                <ul class="dropdown-menu dropdown-profile">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                </ul>
                            </div>
                            <a class="action" href="cart.html">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>
                        </div>
                        <!-- Header Action End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Mobile top End -->

        <!-- Header Mobile Bottom End -->
        <div class="header-mobile-bottom">
            <div class="container">
                <!-- Header Search Start -->
                <div class="header-search">
                    <form action="#">
                        <input type="text" placeholder="Enter your search key ... " />
                        <button><i class="pe-7s-search"></i></button>
                    </form>
                </div>
                <!-- Header Search End -->
            </div>
        </div>
        <!-- Header Mobile Bottom End -->
    </div>
    <!-- Header Mobile End -->

    <!-- off Canvas Start -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu">
        <div class="offcanvas-header">
            <!-- Canvas Action Start -->
            <div class="canvas-action">
                <a class="action" href="compare.html"><i class="icon-sliders"></i> Compare
                    <span class="action-num">(3)</span></a>
                <a class="action" href="wishlist.html"><i class="icon-heart"></i> Wishlist
                    <span class="action-num">(3)</span></a>
            </div>
            <!-- Canvas Action end -->

            <!-- Canvas Close bar Start -->
            <div class="canvas-close-bar">
                <span>Menu</span>
                <button class="menu-close" data-bs-dismiss="offcanvas">
                    <i class="pe-7s-angle-left"></i>
                </button>
            </div>
            <!-- Canvas Close bar End -->
        </div>

        <div class="offcanvas-body">
            <!-- Canvas Menu Start -->
            <div class="canvas-menu">
                <nav>
                    <ul class="nav-menu">
                        <li>
                            <a href="#">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home 01</a></li>
                                <li><a href="index-2.html">Home 02</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li>
                            <a href="#">Shop</a>
                            <ul class="mega-sub-menu">
                                <li>
                                    <a href="#" class="menu-title">Shop Grid</a>

                                    <ul class="menu-item">
                                        <li>
                                            <a href="shop-grid-3-column.html">Shop Grid 3 Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-left-sidebar.html">Shop Grid Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-grid-right-sidebar.html">Shop Grid Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="menu-title">Shop List</a>

                                    <ul class="menu-item">
                                        <li><a href="shop-list.html">Shop List</a></li>
                                        <li>
                                            <a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="menu-title">Shop Single</a>

                                    <ul class="menu-item">
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li>
                                            <a href="product-details-affiliate.html">Product Details Affiliate</a>
                                        </li>
                                        <li>
                                            <a href="product-details-gallery.html">Product Details Gallery</a>
                                        </li>
                                        <li>
                                            <a href="product-details-group.html">Product Details Group</a>
                                        </li>
                                        <li>
                                            <a href="product-details-sticky.html">Product Details Sticky</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="menu-title">Page</a>

                                    <ul class="menu-item">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                    </ul>
                                </li>

                                <li class="manu-banner">
                                    <a href="#"><img src="assets/images/banner-menu-01.jpg" width="465" height="170" alt="Banner" /></a>
                                </li>
                                <li class="manu-banner">
                                    <a href="#"><img src="assets/images/banner-menu-02.jpg" width="465" height="170" alt="Banner" /></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Pages </a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="compare.html">Compare</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="empty-cart.html">Empty Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Blog Grid</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-grid.html">Blog Grid</a></li>
                                        <li>
                                            <a href="blog-grid-left-sidebar.html">Blog Grid Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-grid-right-sidebar.html">Blog Grid Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog List</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Blog Details</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-details-left-sidebar.html">Blog details Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-details-right-sidebar.html">Blog details Right Sidebar</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Canvas Menu End -->
        </div>
    </div>
    <!-- off Canvas End -->


    <!-- Slider Section Start -->
    <div class="section slider-section-02">
        <div class="slider-active">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Single Slider Start  -->
                    {% for random in random_product %}
                    {% if random.image %}
                    <div class="single-slider slider-02 swiper-slide animation-style-01" style="
                                background-image: url({{ random.image.url }});">
                    {% else %}
                    <div class="single-slider slider-02 swiper-slide animation-style-01" style="
                                background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png);">
                    {% endif %}
                        <div class="container">
                            <!-- Slider Content Start -->
                            <div class="slider-content-02 text-center">
                                <h2 class="title">
                                    {{ random.title }}
                                </h2>
                                <p>
                                    Уникальный дизайн мебели в стиле для вашего
                                     Семья и добро пожаловать <br />
                                     Наш магазин, скидка 30% на все стильные кухни
                                     Мебель
                                </p>
                                <a href="{% url 'product_detail' random.id %}" class="btn btn-primary btn-hover-dark btn-margin">купить сейчас</a>
                            </div>
                            <!-- Slider Content End -->
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Single Slider End  -->

                    <!-- Add Arrows -->
                    <div class="swiper-button-next">Следующий</div>
                    <div class="swiper-button-prev">Предыдущий</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Section End -->

    <!-- Benefit Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <!-- Benefit Wrapper Start -->
            <div class="benefit-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Benefit Start -->
                        <div class="single-benefit">
                            <img src="{% static 'assets/images/icon/icon-1.png' %}" width="70" height="92" alt="Icon" />
                            <h3 class="title">Бесплатная доставка</h3>
                            <p>
                                Бесплатная доставка вашего товара от  5000 сом!
                            </p>
                        </div>
                        <!-- Single Benefit End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Benefit Start -->
                        <div class="single-benefit">
                            <img src="{% static 'assets/images/icon/icon-2.png' %}" width="70" height="92" alt="Icon" />
                            <h3 class="title">Онлайн оплата</h3>
                            <p>
                                Вы можете оплатить товары онлайн через электронные кошельки Элсом, Mbank, Balance, !O деньги
                            </p>
                        </div>
                        <!-- Single Benefit End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Benefit Start -->
                        <div class="single-benefit">
                            <img src="{% static 'assets/images/icon/icon-3.png' %}" width="70" height="92" alt="Icon" />
                            <h3 class="title">Онлайн поддержка</h3>
                            <p>
                                Возникли вопросы или проблемы? У нас есть онлайн тех поддержка, напишите нам
                            </p>
                        </div>
                        <!-- Single Benefit End -->
                    </div>
                </div>
            </div>
            <!-- Benefit Wrapper End -->
        </div>
    </div>
    <!-- Benefit Section End -->

    <!-- New Product Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section-title-02 text-center">
                <h2 class="title">Категории товаров</h2>
            </div>
            <!-- Section Title End -->

            <!-- Product Wrapper 02 Start -->
            <div class="product-wrapper-02">
                <!-- Product Menu Start -->
                <div class="product-menu">
                    <ul class="nav justify-content-center">
                        {% for category in categories %}
                        <li>
                            <a href="{% url 'category_detail' category.slug %}">
                                {{ category.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- Product Menu End -->

                <!-- Product Tabs Content Start -->
                <div class="product-tabs-content">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="{{ product.category.id }}">
                            <div class="row">
                            {% for product in products %}
                                <div class="col-lg-3 col-sm-6">
                                    <!-- Single Product Start -->
                                    <div class="single-product-02">
                                        <div class="product-images">
                                            {% if product.image %}
                                            <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image.url }}" width="270" height="303" alt="product" /></a>
                                            {% else %}
                                            <a href="{% url 'product_detail' product.id %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" width="270" height="303" alt="product" /></a>
                                            {% endif %}
                                            <ul class="product-meta">
                                                <li>
                                                    <a class="action" data-bs-toggle="{{ product.id }}" data-bs-target="#{{ product.id }}" href="{% url 'product_detail' product.id %}"><i
                                                                class="pe-7s-search"
                                                            ></i></a>
                                                </li>
                                                <li>
                                                    <a class="action" href="#"><i
                                                                class="pe-7s-shopbag"
                                                            ></i></a>
                                                </li>
                                                <li>
                                                    <a class="action" href="#"><i
                                                                class="pe-7s-like"
                                                            ></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product-content">
                                            <h4 class="title">
                                                <a href="{% url 'product_detail' product.id %}">{{ product.title }}</a>
                                            </h4>
                                            <div class="price">
                                                <span class="sale-price"
                                                        >{{ product.price }} СОМ/ШТ</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Product End -->
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Tabs Content End -->
            </div>
            <!-- Product Wrapper 02 End -->
        </div>
    </div>
    <!-- New Product Section End -->

    <!-- Banner Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Single Banner Start -->
                    <div class="single-banner-03">
                        <img src="http://plan.ayugrand.kg/wp-content/uploads/2023/04/062e5fb604a43fe7694523b66e7409ee.jpg" width="570" height="299" alt="Banner" />

                        <div class="banner-content">
                            <h6 class="sub-title">{{ setting.title }}</h6>
                            <h3 class="title">
                                <a href="shop-grid-left-sidebar.html">Выиграй <br />
                                        Электромобиль</a>
                            </h3>
                            <a class="btn btn-primary btn-hover-dark" href="http://plan.ayugrand.kg/">Участвовать</a>
                        </div>
                    </div>
                    <!-- Single Banner End -->
                </div>
                <div class="col-lg-6">
                    <!-- Single Banner Start -->
                    <div class="single-banner-03">
                        <img src="https://www.mirbeer.ru/cache/images/5d/5a/31/5d5a31fc485df4081a96d52390cd5da2.png" width="570" height="299" alt="Banner" />

                        <div class="banner-content">
                            <h6 class="sub-title">{{ setting.title }}</h6>
                            <h3 class="title">
                                <a href="shop-grid-left-sidebar.html">ВЗЛОМАЙ <br />
                                    СЕЙФ 2.0.</a>
                            </h3>
                            <a class="btn btn-primary btn-hover-dark" href="http://tsum.kg/rozygrysh-2/">Перейти</a>
                        </div>
                    </div>
                    <!-- Single Banner End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Banner Section End -->

    <!-- Countdown Section Start -->
    <div class="section section-padding overflow-hidden bg-color-01">
        <div class="container">
            <div class="countdown-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <!-- Countdown Content Start -->
                        <div class="countdown-content">
                            <h2 class="title">
                                Скидка <span>50%</span> для первых клиентов
                            </h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing sed do eiusmol tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad
                                mini veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip eao commodo
                                consequat Duis aute irure.
                            </p>

                            <div class="countdown-wrapper">
                                <div class="countdown" data-countdown="2023/11/20" data-format="short">
                                    <div class="single-countdown">
                                        <span
                                                class="count countdown__time daysLeft"
                                            ></span>
                                        <span
                                                class="value countdown__time daysText"
                                            ></span>
                                    </div>
                                    <div class="single-countdown">
                                        <span
                                                class="count countdown__time hoursLeft"
                                            ></span>
                                        <span
                                                class="value countdown__time hoursText"
                                            ></span>
                                    </div>
                                    <div class="single-countdown">
                                        <span
                                                class="count countdown__time minsLeft"
                                            ></span>
                                        <span
                                                class="value countdown__time minsText"
                                            ></span>
                                    </div>
                                    <div class="single-countdown">
                                        <span
                                                class="count countdown__time secsLeft"
                                            ></span>
                                        <span
                                                class="value countdown__time secsText"
                                            ></span>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="btn btn-primary btn-hover-dark">Дата старта проекта</a>
                        </div>
                        <!-- Countdown Content End -->
                    </div>

                    <div class="col-lg-6">
                        <!-- Countdown Images Start -->
                        <div class="countdown-images">
                            <div class="shape-1"></div>
                            <div class="shape-2"></div>
                            <div class="shape-3"></div>

                            <div class="image-box">
                                <img src="assets/images/countdown.png" width="480" height="383" alt="Countdown" />
                            </div>
                        </div>
                        <!-- Countdown Images End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Countdown Section End -->

    <!-- Sale Product Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <div class="">
                <!-- Product Active Start -->
                <div class="product-active-02">
                    <!-- Product Top Wrapper Start -->
                    <div class="product-top-wrapper">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2 class="title">Вам понравится</h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Swiper Arrows End -->
                        <div class="swiper-arrows">
                            <!-- Add Arrows -->
                            <div class="swiper-button-prev">
                                <i class="pe-7s-angle-left"></i>
                            </div>
                            <div class="swiper-button-next">
                                <i class="pe-7s-angle-right"></i>
                            </div>
                        </div>
                        <!-- Swiper Arrows End -->
                    </div>
                    <!-- Product Top Wrapper End -->

                    <!-- Product Tabs Content Start -->
                    <div class="product-tabs-content">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab7">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        {% for product in like_products %}
                                        <div class="swiper-slide">
                                            <!-- Single Product Start -->
                                            <div class="single-product-02">
                                                <div class="product-images">
                                                    {% if product.image %}
                                                    <a href="product-details.html"><img src="{{ product.image.url }}" width="270" height="303" alt="product" /></a>
                                                    {% else %}
                                                    <a href="product-details.html"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" width="270" height="303" alt="product" /></a>
                                                    {% endif %}
                                                    <ul class="product-meta">
                                                        <li>
                                                            <a class="action" data-bs-toggle="modal" data-bs-target="#quickView" href="#"><i
                                                                        class="pe-7s-search"
                                                                    ></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="action" href="#"><i
                                                                        class="pe-7s-shopbag"
                                                                    ></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="action" href="#"><i
                                                                        class="pe-7s-like"
                                                                    ></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="product-content">
                                                    <h4 class="title">
                                                        <a href="product-details.html">{{ product.title }}</a>
                                                    </h4>
                                                    <div class="price">
                                                        <span
                                                                class="sale-price"
                                                                >{{ product.price }} СОМ/ШТ</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Product End -->
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Product Tabs Content End -->
                </div>
                <!-- Product Active End -->
            </div>
        </div>
    </div>
    <!-- Sale Product Section End -->

    <!-- Marker Section Start -->
    <div class="section section-padding-02">
        <div class="container">
            <!-- Marker Wrapper Start -->
            <div class="marker-wrapper" style="background-image: url({% static 'assets/images/marker.jpg' %})">
                <div class="marker-content">
                    <h6 class="sub-title">Маркетплейс строительных материалов </h6>
                    <h3 class="title">
                        {{ setting.title }} <br />
                            Store
                    </h3>
                </div>

                <div class="image-pointer pointer-01">
                    <i class="fa fa-plus"></i>

                    <div class="pointer-box">
                        <h4 class="name">
                            <a href="#">Products Name Here</a>
                        </h4>
                        <span class="price">$40.00</span>
                    </div>
                </div>

                <div class="image-pointer pointer-02">
                    <i class="fa fa-plus"></i>

                    <div class="pointer-box">
                        <h4 class="name">
                            <a href="#">Products Name Here</a>
                        </h4>
                        <span class="price">$40.00</span>
                    </div>
                </div>

                <div class="image-pointer pointer-03">
                    <i class="fa fa-plus"></i>

                    <div class="pointer-box">
                        <h4 class="name">
                            <a href="#">Products Name Here</a>
                        </h4>
                        <span class="price">$40.00</span>
                    </div>
                </div>

                <div class="image-pointer pointer-04">
                    <i class="fa fa-plus"></i>

                    <div class="pointer-box">
                        <h4 class="name">
                            <a href="#">Products Name Here</a>
                        </h4>
                        <span class="price">$40.00</span>
                    </div>
                </div>
            </div>
            <!-- Marker Wrapper Start -->
        </div>
    </div>
    <!-- Marker Section End -->

    <!-- Brand Logo Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="brand-row">
                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="{% static 'assets/images/brand/brand-1.png' %}" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="{% static 'assets/images/brand/brand-2.png' %}" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="{% static 'assets/images/brand/brand-3.png' %}" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="{% static 'assets/images/brand/brand-4.png' %}" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>

                <div class="brand-col">
                    <!-- Single Brand Start -->
                    <div class="single-brand">
                        <img src="{% static 'assets/images/brand/brand-5.png' %}" width="118" height="87" alt="brand" />
                    </div>
                    <!-- Single Brand Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Brand Logo Section End -->

    <!-- Footer Section Start -->
    {% include 'include/footer.html' %}
    <!-- Footer Section End -->

    <!--Back To Start-->
    <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
    <!--Back To End-->
    <!-- Quick View Start -->
    {% for product in products %}
    <div class="modal fade" id="{{ product.id }}">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="{{ product.id }}" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Quick View Images Start -->
                            <div class="quick-view-images">
                                <!-- Quick Gallery Images Start -->
                                <div class="quick-gallery-images">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="{% static 'assets/images/product-details/product-details-1.jpg' %}" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="{% static 'assets/images/product-details/product-details-2.jpg' %}" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="{% static 'assets/images/product-details/product-details-3.jpg' %}" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="{% static 'assets/images/product-details/product-details-4.jpg' %}" alt="Product Image" />
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="single-img">
                                                    <img src="{% static 'assets/images/product-details/product-details-5.jpg' %}" alt="Product Image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Quick Gallery Images End -->

                                <!-- Quick Gallery Thumbs Start -->
                                <div class="quick-gallery-thumbs">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img src="{% static 'assets/images/product-details/product-details-1.jpg' %}" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="{% static 'assets/images/product-details/product-details-2.jpg' %}" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="{% static 'assets/images/product-details/product-details-3.jpg' %}" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="{% static 'assets/images/product-details/product-details-4.jpg' %}" alt="Product Thumbnail" />
                                            </div>
                                            <div class="swiper-slide">
                                                <img src="{% static 'assets/images/product-details/product-details-5.jpg' %}" alt="Product Thumbnail" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add Arrows -->
                                    <div class="swiper-button-prev">
                                        <i class="pe-7s-angle-left"></i>
                                    </div>
                                    <div class="swiper-button-next">
                                        <i class="pe-7s-angle-right"></i>
                                    </div>
                                </div>
                                <!-- Quick Gallery Thumbs End -->
                            </div>
                            <!-- Quick View Images End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Quick View Description Start -->
                            <div class="quick-view-description">
                                <h4 class="product-name">
                                    Your Products Name Here.
                                </h4>
                                <div class="price">
                                    <span class="sale-price">$240.00</span>
                                    <span class="old-price">$290.00</span>
                                </div>
                                <div class="review-wrapper">
                                    <div class="review-star">
                                        <div class="star" style="width: 80%"></div>
                                    </div>
                                    <p>( 1 Customer Review )</p>
                                </div>
                                <div class="product-color">
                                    <span class="lable">Color:</span>
                                    <ul>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color1" />
                                            <label for="quick-color1"><span class="color-blue"></span></label>
                                        </li>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color2" />
                                            <label for="quick-color2"><span class="color-gray"></span></label>
                                        </li>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color3" />
                                            <label for="quick-color3"><span
                                                class="color-dark-blue"
                                            ></span></label>
                                        </li>
                                        <li>
                                            <input type="radio" name="colors" id="quick-color4" />
                                            <label for="quick-color4"><span
                                                class="color-gray-dark"
                                            ></span></label>
                                        </li>
                                    </ul>
                                </div>

                                <p>
                                    Lorem ipsum dolor sit amet, consectet
                                    adipisicing elit, sed do eiusmod temporf
                                    incididunt ut labore et dolore magna aliqua. Ut
                                    enim ad minim veniam, quis tyu nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate.
                                </p>

                                <div class="product-meta">
                                    <div class="product-quantity d-inline-flex">
                                        <button type="button" class="sub">-</button>
                                        <input type="text" value="1" />
                                        <button type="button" class="add">+</button>
                                    </div>
                                    <div class="meta-action">
                                        <button class="btn btn-dark btn-hover-primary">
                                            Add To Cart
                                        </button>
                                    </div>
                                    <div class="meta-action">
                                        <a class="action" href="#"><i class="pe-7s-like"></i></a>
                                    </div>
                                    <div class="meta-action">
                                        <a class="action" href="#"><i class="pe-7s-shuffle"></i></a>
                                    </div>
                                </div>

                                <div class="product-info">
                                    <div class="single-info">
                                        <span class="lable">SKU:</span>
                                        <span class="value">Ch-256xl</span>
                                    </div>
                                    <div class="single-info">
                                        <span class="lable">Categories:</span>
                                        <span class="value"
                                        ><a href="#">Office,</a>
                                        <a href="#">Home</a></span>
                                    </div>
                                    <div class="single-info">
                                        <span class="lable">tag:</span>
                                        <span class="value"
                                        ><a href="#">Furniture</a></span>
                                    </div>
                                    <div class="single-info">
                                        <span class="lable">Share:</span>
                                        <ul class="social">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i
                                                    class="fa fa-pinterest-p"
                                                ></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Quick View Description End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Quick View End -->

    <!-- JS
    ============================================ -->

{% endblock %}